<html>
  <head>
    <title>Orders</title>
  </head>
  <body>
    <h1>Unshipped Orders</h1>

    <ul>
    <% @unshipped_orders.each do |order| %>
      <li><%= link_to order.id, order_path(order) %></li>
    <% end %>
    </ul>

    <h1>Shipped Orders</h1>

    <ul>
    <% @shipped_orders.each do |order| %>
      <li><%= link_to order.id, order_path(order) %>, shipped at: <%= order.shipped_at%></li>
    <% end %>
    </ul>

    <%= link_to 'Create Order', new_order_path %>
  </body>
</html>
